
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

textarea{
    resize: none;
}

main{
    margin:0 0;
}

.header{
    text-align: center;
    font-family: 'Kaushan Script', cursive; 
    font-size: 40px;
    color: #584f49;
    background-color: #154695;   
}

h1, .phraseaccroche{
    text-align: center;
    font-family: 'Kaushan Script', cursive; 
    font-size: 40px;
    color: #eec8ad;
    background-color: #154695;
}

.presentation{
    border: 2px solid greenyellow;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.photo, .nomprenom, .cv{
    width: 20%;   
}

.nomprenom{
    font-size: 30px;
}

.photo{
    padding-top: 9px;
}

.phraseaccroche p{
    animation: point2 1s infinite;
              }
@keyframes point2{
  0%{
    transform: scale(1); } 
  100%{
    transform: scale(1.05); }
}

.cv{   
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 28px;
	text-align: center;
	width: 260px;
    height: 35px;
	border-radius: 25px;
    background-color: #eec8ad;
    box-shadow:  -5px 5px 0px #154695,
                 -5px -5px 0px #607aa5; 
}

a:link{
    text-decoration: none;
     }

form{ 
        background-color: #fef1df;
        padding:30px;
        border-radius:10px;    
    }

form h1{
        font-size:20px;
    }

form .separation{
        width:100%;
        height: 1px;
        background-color:#747cdf;
    }

form .corps-formulaire{
        display:flex;
        flex-wrap: wrap;
        margin-bottom: 30px;   
    }

form .corps-formulaire .groupe{
        position: relative;
        margin-top: 20px;
        display:flex;
        flex-direction: column;
    }

form .corps-formulaire .gauche .groupe input{
        margin-top: 5px;
        padding: 10px 5px 10px 30px;
        border: 1px solid #c9c9c9;
        outline-color: #747cdf;
        border-radius: 5px;
    }

form .corps-formulaire .gauche .groupe i{
        position:absolute;
        left:0;
        top:5;
        padding:30px 8px;color:#747cdf;
    }

form .corps-formulaire .droite{
        margin-left:40px;
    }

form .corps-formulaire .droite .groupe{
        height: 100%;
    }

form .corps-formulaire .droite .groupe textarea{
        margin-top: 5px;
        padding:10px;
        background-color: #f8f8f8;
        border: 2px solid #747cdf;
        outline: none;
        border-radius: 5px;
        resize: none;
        height:72%;
    }
    
.pied-formulaire button{
        margin-top: 10px;
        background-color: #747cdf;
        color:white;
        font-size: 15px;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        transition:transform 0.5s;
    }

.pied-formulaire button:hover{
      transform:scale(1.05);
    }

@media screen and (max-width:920px){
        form .corps-formulaire .droite{
            margin-left: 0px;
        }
    }
.contact{
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    } 

.footer{
        background-color: #eec8ad;
        height: 50px;       
        text-align: center;   
    }

.footer a{
        font-size:30px;
        color:#154695; 
    }
    /*css formulaire page publier nouveau blog et modifier article */
.publishblog input, .publishblog textarea, .editarticle input, .editarticle textarea{
        width: 400px;
        height: 50px;
        resize: none;
    }

.button{
        text-align: center;
    }
    
.onearticle, .comments{
        border: 2px solid greenyellow;
        border-radius: 5px;
        width: 40%;
        resize: none;
    }
    
#block, #block1, #commentaire{
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
.roundwind{
        border: 2px solid rgb(255, 47, 175);
        border-radius: 50%;
        padding: 25px 25px 25px 25px;
        text-align: center;       
    }

#roundwind1 form{
    width: 500px;
    text-align: center; 
    border: 2px solid rgb(47, 213, 255); 
    background-color: #eec8ad; 
    margin-top: 40px;
    margin-bottom: 40px;
         
}
#roundwind1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.idcommentaire{
    display: none;
}
   
h3{
        padding-top: 50px;
        margin-bottom: 20px;
        margin-left: 130px;
    }
    
section{
      display: flex;
      flex-wrap: wrap;
  }
  
#commentaire{
    border: 2px solid #584f49;
    border-radius: 5px;  
  }
  
.card{
      width: 30%;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: #eec8ad;
  }
  

.row{
    justify-content: space-around;
    margin-bottom:20px;   
}
.inscriptconnect{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    height: 600px;
}
main form{
    align-items: center;
}

  

    


   
  
    
      
      
    
  